{% extends 'default.html' %}

{% block content %}

{% block tours %}

<style>
    .tour-container {
        display: flex;
        justify-content: center; /* Центрирование контейнера по горизонтали */
    }
    .tour-item {
        text-align: left;      /* Выравнивание текста по левому краю внутри блока */
        margin-top: 20px;      /* Расстояние между картинкой и текстом */
        width: 367px;          /* Ширина блока, чтобы он не растягивался */
    }
    .tour-name {
        font-size: 24px;
        color: black;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        margin-bottom: 10px; /* Отступ между названием и описанием */
    }
    .tour-desc {
<!--        font-style: italic;-->
        color: black;
        margin-bottom: 10px; /* Отступ между описанием и другими элементами */
    }
    .tour-img-container {
        display: inline-block;   /* Выравнивание контейнера по центру */
        text-align: center;      /* Центрирование подписей */
    }
    .tour_img {
        max-width: 367px;
        max-height: 520px;
        border-radius: 50px;
    }

    .tour-value{
        font-size: 25px;
        font-weight: bold;
    }
</style>

{% if tours %}
    {% for tour in tours %}
        <div class="tour-container">
            <div class="tour-item">
                <div class="tour-img-container">
                    <img class="tour_img" src="//2.downloader.disk.yandex.com/preview/fe5bcb4085e37780cbcfe9c0e50587e613f5a21fe5fdb1c87ed012da49c9e02c/inf/MnlL5vtHe1YY0PTsGCa26iecOOjThLnfy554i0L3-9beAjnfv5XCaXt2ssbD-Ego1svtvBpqARpW62MAYUhkGw%3D%3D?uid=395144095&filename=3c57ebbb7229653875bb1cbe8e64bbdd7e9fe33f%20%281%29.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=395144095&tknv=v3&size=1126x912">
<!--                    ПЕРЕПИСАТЬ ПОД ID ФОТОГРАФИИ-->

                </div>
                    <a class="tour-name" style="text-decoration: none;" href="/main_page/tours/{{tour.id}}">{{tour.tour_name}}</a>
<!--                    <p class="tour-name">{{tour.tour_name}}</p>-->
                    <p class="tour-desc">{{ tour.tour_desc }}</p>
<!--                    <p class="tour-raiting"><i class="fas fa-star"></i> {{ tour.tour_rating}}</p>-->
<!--                    <p class="tour-duration"><i class="fas fa-clock"></i> {{ tour.tour_duration}} минут</p>-->
<!--                    <p class="tour-location"><i class="fas fa-map-marker-alt"></i> {{ tour.tour_location}}</p>-->
<!--                    <p class="tour-value">{{ tour.tour_value}} ₽</p>-->
            </div>

        </div>
    {% endfor %}
{% else %}
    <h1>Экскурсий пока нет</h1>
{% endif %}

{% endblock %}



{% endblock content %}