{% extends 'default.html' %}

{% block content %}

{% block tours %}

<style>
    .tour-container {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .tour-item {
        text-align: left;
        width: 467px; /* Увеличил ширину контейнера для больших картинок */
    }
    .tour-name {
        font-size: 24px;
        color: black;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .tour-desc {
        color: gray;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.5;
    }
    .tour-img-container {
        display: inline-block;
        text-align: center;
        margin-bottom: 25px;
    }
    .tour_img {
        max-width: 467px; /* Увеличил максимальную ширину */
        max-height: 620px; /* Увеличил максимальную высоту */
        border-radius: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .tour-value {
        font-size: 25px;
        font-weight: bold;
    }
    .tour_content_type {
        background-color: #008000;
        color: white;
        font-size: 15px;
        padding: 8px 15px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
        display: block;
        width: fit-content;
    }
    .title-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
</style>

{% if tours %}
    {% for tour in tours %}
        <div class="tour-container" {% if forloop.first %}style="margin-top: 50px;"{% endif %}>  <!-- Добавлен отступ сверху для первого элемента -->
            <div class="tour-item">
                <div class="tour-img-container">
                    <a style="text-decoration: none;" href="/main_page/tours/{{tour.id}}">
                        <img class="tour_img" src="{{ tour.tour_photo.url }}" alt="{{ tour.tour_name }}">
                    </a>
                </div>
                <div class="title-block">
                    <span class="tour_content_type">{{ tour.tour_content_type }}</span>
                    <a class="tour-name" style="text-decoration: none;" href="/main_page/tours/{{tour.id}}">
                        {{ tour.tour_name }}
                    </a>
                </div>
                <p class="tour-desc">{{ tour.tour_desc }}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1 style="text-align: center; margin-top: 50px;">Экскурсий пока нет</h1>
{% endif %}

{% endblock %}

{% endblock content %}